html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--- CSS reset ---*/


.container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.sidebar {
  grid-row: span 2;
  background-color: #a78bfa;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  row-gap: 4rem;
}

.sidebar .menu > * {
  display: flex;
  margin: 1rem;
  align-items: center;
}

.sidebar .menu > * svg {
  margin-inline-end: 1rem;
}

.sidebar .title {
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1rem;
}

.sidebar .title svg {
  margin-right: 1rem;
}

.header {
  display: grid;
  padding-inline: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
  box-shadow: 0 0 15px #ddd6fe;
  clip-path: inset(0px 0px -15px 0px);
}

.header .row-1 {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 8rem;
}

.header .row-1 .searchbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchbar textarea {
  background-color: #e9d5ff;
  border-radius: 2rem;
  resize: none;
  justify-items: center;
  flex: 1;
  border: 0;
  margin: 0;
  height: 1.5rem;
}

.header .row-1 .card-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
}

.header .row-2 {
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

.header .row-2 .card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header .row-2 .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  gap: 0.2rem;
}

.header .row-2 .card p {
  font-weight: 700;
}

.header .row-2 .card p:nth-child(2) {
  font-size: 1.4rem;
}

.header .row-2 .buttons {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr) minmax(max-content, 1fr);
  gap: 1rem;
  justify-self: end;
  align-self: center;
}

.header .row-2 .buttons button {
  color: white;
  background-color: #a78bfa;
  border: 0;
  border-radius: 2rem;
  padding-inline: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  min-width: 33%;
}

.main {
  background-color: #f3e8ff;
  display: grid;
  grid-template-areas: 
  "projects-header announcements-header"
  "cards announcements"
  "cards trending-header"
  "cards trending";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: min-content 1fr min-content 1fr;
  padding-top: 2rem;
  padding-inline: 1rem;
  padding-bottom: 3rem;
  gap: 1rem;
}

.projects-header {
  grid-area: projects-header;
  font-size: 1.2rem;
  font-weight: 600;
}

.announcements-header {
  grid-area: announcements-header;
  font-size: 1.2rem;
  font-weight: 600;
}

.cards {
  grid-area: cards;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.main .card {
  background-color: white;
  display: grid;
  gap: 0.2rem;
}

.main .cards .card {
  border-left: 10px solid #be123c;
  border-radius: 7px;
  display: grid;
  padding: 2rem;
  box-shadow: 0 0 15px #ddd6fe;
  clip-path: inset(0px 0px -15px 0px);
}

.main .card > p:nth-child(2) {
  color: #701a75;
}

.main .cards .card .card-header {
  align-self: end;
  font-size: 1.1rem;
  font-weight: 700;
}

.main .cards .card .icons {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 1rem;
  justify-content: end;
  align-items: center;
}

.announcement-container {
  grid-area: announcements;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 15px #ddd6fe;
  clip-path: inset(0px 0px -15px 0px);
  border-radius: 7px;
  display: grid;
  align-items: center;
}

.announcement-container .announcement > p:nth-child(1) {
  font-weight: 700;
  font-size: 0.9rem;
}

.announcement-container .announcement > p:nth-child(2) {
  font-size: 0.8rem;
}

.trending-header {
  grid-area: trending-header;
  font-size: 1.2rem;
  font-weight: 600;
}

.trending {
  grid-area: trending;
  box-shadow: 0 0 15px #ddd6fe;
  background-color: white;
  clip-path: inset(0px 0px -15px 0px);
  border-radius: 7px;
  padding: 2rem;
  display: grid;
  grid-template-columns: min-content;
  align-items: center;
  gap: 1rem;
}

.trending .user {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  column-gap: 0.5rem;
}

.trending .user img {
  grid-row: span 2;
}

.trending .user .project {
  color: #701a75;
}